@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ITTWEB_ASPNetCore.ViewModels.ComponentTypeViewModels.ComponentTypeViewModel

<div class="row">
    <div class="col-md-9">
        <h1>@Model.Category.Name</h1>
    </div>
    <div class="col-md-3">
        <span class="row"></span>
        <form asp-controller="ComponentType" asp-action="SearchComponentType">
            <input type="text" asp-for="@Model.SearchText"/>
            <input type="hidden" asp-for="@Model.Category.CategoryId"/>
            <button type="submit" class="btn btn-success">Search!</button>
        </form>
    </div>
</div>


@if (Model.ComponentTypes.Count == 0)
{
    <p>No Customers</p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered  table-hover ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Wiki link</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var componentType in Model.ComponentTypes)
                {

                    <tr>

                        <td><a asp-controller="Component" asp-action="Component" asp-route-id="@componentType.ComponentTypeId">@componentType.ComponentName</a></td>
                        <td>@componentType.Status</td>
                        <td>@componentType.WikiLink</td>
                      <td >
                        <a asp-controller="ComponentType" asp-action="EditComponentType" asp-route-componentTypeId="@componentType.ComponentTypeId" asp-route-categoryId="@Model.Category.CategoryId" class="btn btn-info   ">Edit</a>
                      </td>
                      <td >
                        <form asp-controller="ComponentType" asp-action="DeleteComponentType" method="post" >
                          <input type="hidden" asp-for="@Model.Category.CategoryId"/>
                          <input type="hidden" asp-for="@componentType.ComponentTypeId"/>
                          <button class="btn btn-danger " type="submit">Delete</button>
                        </form>
                      </td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
      </div>

}

<form asp-controller="ComponentType" asp-action="SaveComponentType" method="post">
    <div class="row">
        <div class="col-md-12">
          Component Type Name: <input asp-for="@Model.ComponentType.ComponentName" type="text" />
          <input type="hidden" asp-for="@Model.Category.CategoryId" />
          <button class="btn btn-primary left" type="submit">Add Component type</button>
        </div>

    </div>
</form>


