@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ITTWEB_ASPNetCore.ViewModels.ComponentViewModel.ComponentViewModel

<div class="container">
    <h2>@Model.ComponentType.ComponentName</h2>
    <span class="row"></span>
    <div class="row">
        <div class="col-md-6">Lokation: @Model.ComponentType.Location</div>
        <div class="col-md-3 text-center">Antal: @Model.ComponentType.Components.Count</div>
        <div class="col-md-3"><a href="@Model.ComponentType.Datasheet" class="btn btn-info" role="button">Datasheet</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">@Model.ComponentType.ComponentInfo</div>
        <div class="col-md-4"><img src="@Model.ComponentType.ImageUrl"/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">Kommentarer</div>
        <div class="col-md-6"></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            @foreach (var component in Model.ComponentType.Components)
            {
                <p>@component.UserComment</p>
            }
        </div>
        <div class="col-md-6"></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <h3>Components</h3>
            <ul>
                @foreach (var component in Model.ComponentType.Components)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <a>Number: @component.ComponentNumber</a>
                        </div>
                        <div class="col-md-4">
                            <p>@component.Status</p>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-info">Edit</a>
                        </div>
                        <div class="col-md-2">

                            <form asp-controller="Home" asp-action="DeleteComponent" method="post">
                                <input type="hidden" asp-for="@component.ComponentId"/>
                                <input type="hidden" asp-for="@component.ComponentTypeId"/>
                                <button class="btn btn-danger" type="submit">Delete</button>
                                @*<a asp-controller="Home" asp-action="DeleteCategory" asp-route-id="@category.CategoryId" class="btn btn-danger right">Delete Category</a>*@
                            </form>
                        </div>
                    </div>
                }
            </ul>
            <form asp-controller="Home" asp-action="SaveComponent" method="post">
                <div class="row">
                    <div class="col-md-5">
                        <input type="hidden" asp-for="@Model.ComponentType.ComponentTypeId"/>
                        <input type="hidden" asp-for="@Model.ComponentCount"/>
                        <input type="hidden" asp-for="@Model.Component.ComponentId"/>                      
                        <button class="btn btn-primary" type="submit">Add Component</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>