@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ITTWEB_ASPNetCore.ViewModels.ComponentTypeViewModels.ComponentTypeViewModel


<h1>@Model.Category.Name</h1>



@if (Model.ComponentTypes.Count == 0)
{
    <p>No Customers</p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered  table-hover ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Wiki link</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var componentType in Model.ComponentTypes)
                {

                    <tr>

                        <td><a asp-controller="Home" asp-action="Component" asp-route-id="@componentType.ComponentTypeId">@componentType.ComponentName</a></td>
                        <td>@componentType.Status</td>
                        <td>@componentType.WikiLink</td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <span class="row"></span>
            <ul class="list-group">

                @foreach (var componentType in Model.ComponentTypes)
                {
                    <li class="media-list">
                        
                                
                            <a asp-controller="Home" asp-action="EditComponentType" asp-route-componentTypeId="@componentType.ComponentTypeId" asp-route-categoryId="@Model.Category.CategoryId" class="btn btn-info">Edit</a>

                            <form asp-controller="Home" asp-action="DeleteComponentType" method="post">
                                <input type="hidden" asp-for="@Model.Category.CategoryId"/>
                                <input type="hidden" asp-for="@componentType.ComponentTypeId"/>
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>


                       
                    </li>
                }
            </ul>
        </div>
    </div>

}

<form asp-controller="Home" asp-action="SaveComponentType" method="post">
    <div class="row">
        <div class="col-md-6">
            Component Type Name: <input asp-for="@Model.ComponentType.ComponentName" type="text" />
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <input type="hidden" asp-for="@Model.Category.CategoryId" />
            <button class="btn btn-primary left" type="submit">Add Component type</button>
        </div>
    </div>
</form>


